<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Miguel Yang" />
    <title>Chart首頁</title>
  </head>
  <body>
    <h1>請輸入四個數值</h1>
    <form action="/chart" method="GET">
      <p>January:</p>
      <input type="number" name="Jan" />
      <p>February:</p>
      <input type="number" name="Feb" />
      <p>March:</p>
      <input type="number" name="Mar" />
      <p>April:</p>
      <input type="number" name="Apr" />
      <input type="submit" value="送出資料" />
    </form>
  </body>
</html>
